<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container">
    
    <br>
            <form method="post">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="founderName" placeholder="password">
              </div>
              <div class="mb-3">
              <p>Role</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="role" value="Hacker"
                  checked>
                <label class="form-check-label" for="flexRadioDefault1" name="role">
                  Users
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="role" value="Hustler">
                <label class="form-check-label" for="flexRadioDefault2" name="role">
                  Admin
                </label>
              </div>
              <div class="align-content-end col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
              </div>
            </form>
  </div>
</body>

</html>